body {
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.container {
    width: 640px;
    margin: 40px auto;
}
.ui-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ui-timer {
    font-size: 4em;
    font-weight: 800;
    margin-right: 20px;
}
.ui-button {
    cursor: pointer;
}
.ui-button.play, .ui-button.stop {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ui-button.play {
    background-image: url('../img/play.svg');
}

.ui-button.stop {
    background-image: url('../img/stop.svg');
}

.ui-history {
    margin-top: 20px;
    width: 100%;
}

.ui-history td {
    text-align: center;
}